<div class="js-sdg-f hidden absolute w-1/3 max-[1578px]:w-3/5 max-lg:w-full bg-white min-h-80 z-10 shadow-md rounded-md left-0 top-0 p-8  flex-col justify-between">
	<template class="js-sdg-f-s-inp-item-template">
		<div class="flex w-full items-center js-sdg-f-s-inp-item">
			<input type="text" class="border mt-1 rounded-md p-2 w-full js-sdg-f-s-inp-query">

			<span class="px-4 font-bold">in</span>

			<div class="w-full">
				<select name="" id="" class="px-3 py-2 !outline-none border rounded-md w-full js-sdg-f-s-inp-in">
					{% for col in grid.columns %}
						<option value="{{col.key}}">{{col.label}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</template>

	<form action="" class="js-sdg-f-form">
		<div>
			<div class="text-xl font-bold pb-1 border-b mb-4">Filters</div>

			<div class="space-y-2">
				<div>
					<div class="text-lg font-medium flex justify-between w-full">
						<span>Seach</span>
						<div class="flex gap-2">
							<div class="js-sdg-f-s-btn border border-gray-200 flex justify-center items-center rounded-full size-6 cursor-pointer hover:text-primary">
								{{ ux_icon('plus', {'class':'size-4 anim'}) }}
							</div>
							<div class="js-sdg-f-s-r-btn border border-gray-200 flex justify-center items-center rounded-full size-6 cursor-pointer hover:text-primary">
								{{ ux_icon('reset', {'class':'size-4 anim'}) }}
							</div>
						</div>
					</div>

					<div class="js-sdg-f-s-inps-cont space-y-1"></div>
				</div>

				<div>
					<div class="text-lg font-medium block">Order</div>
					<div class="flex w-full items-center">
						<div class="w-full">
							{% set decs = filters['order'] is defined ? filters['order']|first : '' %}

							<select name="order" id="order" class="js-sdg-s-order-desc px-3 py-2 !outline-none border rounded-md w-full">
								<option value="">-- None --</option>
								<option value="asc" {% if decs == 'asc' %} selected {% endif %}>ASC</option>
								<option value="desc" {% if decs == 'desc' %} selected {% endif %}>DESC</option>
							</select>
						</div>

						<span class="px-4 font-bold">in</span>

						<div class="w-full">
							{% set column = filters['order'] is defined and filters['order']|length > 0 ? filters['order']|keys|first : '' %}
							<select class="js-sdg-s-order-in px-3 py-2 !outline-none border rounded-md w-full">
								{% for col in grid.columns %}
									<option value="{{ col.key }}" {% if column == col.key %} selected {% endif %}>{{ col.label }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-center gap-4 mt-4">
			<button class="btn">Apply filters</button>
			<button type="button" class="btn bg-gray-700 text-sm js-sdg-f-cancle-btn">Cancle</button>
		</div>
	</form>
</div>
