<div class="js-sydatagrid-placeholder">
	<div class="js-sydatagrid content-container bg-white shadow-md px-2 py-0" data-reset-url="{{grid.resetUrl}}" data-pagination-data='{{grid.jsonPaginatedData}}'>
		<div class="min-h-[50vh] flex justify-center items-center js-sydatagrid-loader">
			<div class="loader "></div>
		</div>

		<div class="w-full overflow-auto hidden js-sydatagrid-table-container">
			<table class="table w-full max-w-full">
				<thead class="[&>tr>th]:w-[1%] [&>tr>th]:whitespace-nowrap">
					<tr>
						{% for col in grid.columns %}
							<th class="p-3 text-center">
								<div class="flex justify-center items-center select-none group gap-1{% if col.isSortable %} cursor-pointer js-sydatagrid-col-sort{% endif %}" data-col="{{ col.key }}">
									{% if col.isSortable %}
										{% if grid.getOrderedColumn['col'] == col.key %}
											{% if grid.getOrderedColumn['dir'] == 'asc' %}
												<span data-sort-dir="desc" class="js-sydatagrid-col-sort-icon-placeholder rotate-180 group-hover:text-primary anim">
													{{ ux_icon('sortactive', { 'class': 'size-4' }) }}
												</span>
											{% else %}
												<span data-sort-dir="asc" class="js-sydatagrid-col-sort-icon-placeholder group-hover:text-primary anim">
													{{ ux_icon('sortactive', { 'class': 'size-4' }) }}
												</span>
											{% endif %}
										{% else %}
											<span data-sort-dir="asc" class="js-sydatagrid-col-sort-icon-placeholder group-hover:text-primary anim">
												{{ ux_icon('sortinactive', { 'class': 'size-4' }) }}
											</span>
										{% endif %}
									{% endif %}
									{{ col.label }}
								</div>
							</th>
						{% endfor %}

						{% if grid.hasActions %}
							<th class="p-3 text-center !w-[.1%]">Actions</th>
						{% endif %}

						{% if grid.getSortableColumnName is not null %}
							<th class="!w-[.1%]"></th>
						{% endif %}
					</tr>

					{% if grid.hasSearchableColumn %}
						<tr>
							{% for col in grid.columns %}
								{% if col.isSearchable %}
									{% set searchable = col.getSearchable %}

									<th class="p-1">
										{% if searchable.type.value == 1 %}
											<input type="text" name="{{col.key}}" class="rounded-md border w-full p-1 text-sm font-normal anim focus:border-primary"/>
										{% elseif searchable.type.value == 2 %}
											<select name="{{col.key}}" class="rounded-md border w-full p-1 text-sm font-normal anim focus:border-primary">
												{% for key, val  in searchable.options['options'] %}
													<option value="{{key}}">
														{{val}}
													</option>
												{% endfor %}
											</select>
										{% endif %}
									</th>
								{% else %}
									<th></th>
								{% endif %}
							{% endfor %}

							{% if grid.hasActions %}
								<th class="p-3 text-center !w-[.1%]"></th>
							{% endif %}

							{% if grid.getSortableColumnName is not null %}
								<th class="!w-[.1%]"></th>
							{% endif %}
						</tr>
					{% endif %}
				</thead>

				<tbody>
					{% for row in grid.data.data %}
						<tr class="border-t even:bg-light js-sdg-row" {% if grid.getPrimaryKey is not null %} data-id="{{ attribute(row, grid.getPrimaryKey) }}" {% endif %}>
							{% for col in grid.columns %}
								<td class="text-center p-4">
									{{ col.value(row) }}
								</td>
							{% endfor %}

							{% if grid.hasActions %}
								<td class="px-3">
									<div class="flex w-full gap-3 justify-center">
										{% for action in grid.actions %}
											{% set type = action.type.value %}
											{% if type == 'create' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim sydatagrid-action-create {{ action.classes }}">
													{{ ux_icon('create', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'edit' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim sydatagrid-action-edit {{ action.classes }}">
													{{ ux_icon('edit', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'show' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim sydatagrid-action-show {{ action.classes }}">
													{{ ux_icon('show', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'delete' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim sydatagrid-action-create delete{{ action.classes }}">
													{{ ux_icon('delete', { 'class': 'size-5' }) }}
												</a>
											{% endif %}
										{% endfor %}
									</div>
								</td>
							{% endif %}

							{% if grid.getSortableColumnName is not null %}
								<td class="text-right ">
									{{ ux_icon('sort', { 'class': 'js-sdg-sort-handle size-5 cursor-pointer hover:text-primary anim' }) }}
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% include "grid/pagination.html.twig" with {
		paginated: grid.data,
	} %}
	</div>
</div>
