<div class="js-sydatagrid-placeholder">
	<div class="js-sydatagrid content-container bg-white shadow-md px-2 py-0" data-reset-url="{{grid.resetUrl}}" data-pagination-data='{{grid.jsonPaginationData}}'>

		<div class="js-sydatagrid-f-display-btn absolute top-2 left-2 p-2 rounded-full border border-gray-400 z-10 cursor-pointer hover:opacity-70 anim">
			{{ux_icon('filter', {'class':'size-5'})}}
		</div>

		{% include "grid/filters.html.twig" with {
			filters: grid.data.filters
		} %}

		<div class="w-full overflow-auto">
			<table class="table w-full min-w-max">
				<thead>
					<tr>
						{% for col in grid.columns %}
							<th class="p-3 text-center">
								{{ col.label }}
							</th>
						{% endfor %}

						{% if grid.hasActions %}
							<th class="p-3 text-center w-24">Actions</th>
						{% endif %}

					</tr>
				</thead>

				<tbody>
					{% for row in grid.data.data %}
						<tr class="border-t even:bg-light">
							{% for col in grid.columns %}
								<td class="text-center p-4">
									{{ col.value(row) }}
								</td>
							{% endfor %}

							{% if grid.hasActions %}
								<td class="px-3">
									<div class="flex w-full gap-3 justify-center ">
										{% for action in grid.actions %}
											{% set type = action.type.value %}
											{% if type == 'create' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim {{ action.classes }}">
													{{ ux_icon('create', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'edit' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim {{ action.classes }}">
													{{ ux_icon('edit', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'show' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim {{ action.classes }}">
													{{ ux_icon('show', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'delete' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim {{ action.classes }}">
													{{ ux_icon('delete', { 'class': 'size-5' }) }}
												</a>
											{% elseif type == 'sort' %}
												<a href="{{ action.link(row) }}" class="hover:text-primary anim {{ action.classes }}">
													{{ ux_icon('sort', { 'class': 'size-5' }) }}
												</a>
											{% endif %}
										{% endfor %}
									</div>
								</td>
							{% endif %}

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% include "grid/pagination.html.twig" with {
		paginated: grid.data,
	} %}
	</div>
</div>
